body {
    background: linear-gradient(to bottom, #a9cde6, #2c3e50);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #3498db, #2c3e50);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  button::before,
  button::after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    z-index: -1;
  }
  
  button::before {
    top: 0;
    left: 100%;
  }
  
  button::after {
    bottom: 0;
    right: 100%;
  }
  
  button:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  button:hover::before,
  button:hover::after {
    transform: scaleX(1);
  }

  /* .dropdown {
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
   */

   .dropdown{
    min-width: 15em;
    position: relative;
    margin: 2em;
    }
    
    .dropdown * {
    box-sizing: border-box;
    }
    
    .select{
    background: blue;
    colour: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px black solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    
    }
    
    .select-clicked {
     border: 2px red solid;
    }
    